
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand mb-0 h1" href="#"><img width="40px" src="./assets/JL.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="nactive" [routerLinkActiveOptions]="{exact: true}" >Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/heroes" routerLinkActive="nactive" [routerLinkActiveOptions]="{exact: true}" >Heroes</a>
      </li>
    </ul>
      <app-hero-search *ngIf=" url == '/heroes' "></app-hero-search>
  </div>
  </div>
</nav>



<router-outlet></router-outlet>
